#contacts{
	color: #df7801;
	font-family: DeliusSwashCapsRegular;
	margin: 0;
}

#section1{
	 float: left;
	   padding: 25px;
  width: 50%;
  height: 750px; /* only for demonstration, should be removed */
  background: #ccc;
 
	
	
	
}

#section2{
	 float: right;
    padding: 25px;
  width: 42%;
  background-color: #f1f1f1;
  height: 750px; /* only for demonstration, should be removed */
  margin-top:100%;
	
}

